:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --logo-color: #000000;
  --button-color: #f5f4fa;
  --black-font-color: #2f303a;
}
body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
  font-style: normal;
  letter-spacing: 0.03em;
  font-size: 14px;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
/* =======HEADER======= */

/* logo */
.logo {
  color: var(--logo-color);

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1, 192;
}
.logo > span {
  color: var(--accent-color);
}
.logo:hover {
  color: var(--accent-color);
}

/* navigation */
.nav-link {
  color: var(--title-text-color);

  font-weight: 500;
  line-height: 1.142;
  letter-spacing: 0.02em;
}
.nav-link:hover,
.nav-link:focus,
.address-link:hover,
.address-link:focus,
.nav .link.current {
  color: var(--accent-color);
}
.address {
  font-style: normal;
}
.address-link,
.adress-tel {
  color: var(--primary-text-color);

  font-weight: 500;
  line-height: 1, 142;
  letter-spacing: 0.02em;
}
/* =======END HEADER======= */

/* =======HERO======= */
.hero {
  background-color: var(--black-font-color);
}
.hero-title {
  color: var(--primary-white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
/* =======END HERO======= */

/* =======SECTION ADVANTAGES======= */
.section-title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1, 167;
  text-align: center;
}
.section-subtitle {
  color: var(--title-text-color);

  font-size: 14px;
  font-weight: 700;
  line-height: 1, 143;
  text-transform: uppercase;
}
.section-description {
  color: var(--primary-text-color);

  font-weight: 400;
  line-height: 1, 714;
}
/* =======END SECTION ADVANTAGES======= */

/* =======SECTION OUR TEAM======= */
.team-subtitle {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
}
.team-description {
  color: var(--primary-text-color);

  font-weight: 400;
  font-size: 16px;
  line-height: 1, 188;
  text-align: center;
}
/* =======END SECTION OUR TEAM======= */

/* =======FOOTER======= */
footer {
  background-color: var(--black-font-color);
}
.dark-theme {
  color: var(--primary-white-color);
}
.footer-link {
  color: var(--primary-white-color);

  font-weight: 400;
  line-height: 1.714;
}
.footer-link-mail,
.footer-link-tel {
  color: rgba(255, 255, 255, 0.6);
}
.footer-link-mail:hover,
.footer-link-mail:focus,
.footer-link-tel:hover,
.footer-link-tel:focus {
  color: var(--accent-color);
}
/* =======END FOOTER======= */

/* =====BUTTON===== */
.btn {
  font-family: Roboto;
  font-style: normal;
  font-size: 16px;
}
.hero-button {
  color: var(--primary-white-color);
  background-color: var(--accent-color);

  font-weight: 700;
  line-height: 1, 875;
  letter-spacing: 0.06em;
}
.portfolio-filter-button {
  color: var(--title-text-color);
  background-color: var(--button-color);

  font-weight: 500;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
}
.portfolio-filter-button:hover,
.portfolio-filter-button:focus,
.filter-active {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}
/* =====END BUTTON===== */

/* PORTFOLIO */
.portfolio-project-title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-project-description {
  color: var(--primary-text-color);

  font-weight: 400;
  font-size: 16px;
  line-height: 1, 875;
  letter-spacing: 0.03em;
}
